<div class="form">
    <div class="insideForm">
        <div class="inlineDiv">
            <label>Product Name :</label>
            <input [(ngModel)]="productName" matInput placeholder="Add a Product">
        </div>
        <div class="inlineDiv">
            <label>Price :</label>
            <input type="number" [(ngModel)]="price" matInput placeholder="Select a Price">
        </div>
        <div class="inlineDiv">
            <label>Category :</label>
            <select [(ngModel)]="selectedCategory" placeholder="Search for a product">
                <option *ngFor="let category of categories">{{category.categoryName}}</option>
            </select>
        </div>
        <div class="btn">
            <button (click)="addProducts()" mat-flat-button color="primary">Add Product</button>
        </div>
    </div>
</div>

<table class="table">
    <thead class="thead">
        <tr class="tr">
            <th class="th" *ngFor="let header of tableHeaders">{{header}}</th>
        </tr>
    </thead>
    <tbody class="tbody">
        <tr class="tr" *ngFor="let product of products">
            <td class="td">{{ product.idproducts }}</td>
            <td class="td">{{ product.productName }}</td>
            <td class="td">{{ product.price }}</td>
            <td class="td">{{ product.categoryName }}</td>
        </tr>

    </tbody>
</table>